/**Style Menu e Button **/
body, button{
	background: hsl(214, 47%, 23%);
}

.menu, button{
	padding: 0.7em;
	
	border: solid;
	border-color: hsl(0, 0%, 75%);
	border-radius: 5px;
	
	position: relative;
	top: 40px;
}
button{	
	position: relative;
	top: -25px;
	left: 30%;
	
	cursor:pointer
	font-size: 1em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 5px;
	border-color: hsl(0, 0%, 100%);
	color: hsl(0, 0%, 100%);
	
	padding: 10px 35px;
	
}
.menu p{
	float: right;
	background-color: hsl(0, 0%, 75%);
	border-radius: 7px;
	padding: 20px;
	font-size: 1em;
	
	
	position: relative;
	right: 8px;
	top: -15px;
	
	color: hsl(229, 64%, 46%);
}
.menu p span{
	
	position: relative;
	left: 20px;
	color: hsl(229, 25%, 31%);
}
/** Style Memsage Play One and Play Two **/
.msg{	
	display: none;
}
#play1 h4, #play2 h4{	
	color: hsl(0, 0%, 100%);
	position: relative;
	
	top: -300px;
}
#play1{
	position: relative;
	left: 10px;
}
#play2{
	float: right;
	position: relative;
	
	top: -60px;
}

/** Style Again **/

#replay{display: none;}
#replay h3{
	color: hsl(0, 0%, 100%);
}
#replay button{
	
	background-color: hsl(0, 0%, 100%);
	border-radius: 5px;
	border-color: hsl(0, 0%, 100%);
	color: hsl(217, 16%, 45%);
	padding: 15px 80px;
	
}

/** Style Images **/
.conteiner{
	width: 90%;
	height: 98%;
	
	
	position: relative;
	top: -40px;
}
.conteiner, #rock, #triangle{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img, .img2{
	background-color: hsl(0, 0%, 100%) ;
	border-style: solid ;
	border-color: hsl(0, 0%, 100%);
}

.img, .img2, #paper, #scissors, #rock{	
	border-radius: 80%;
	padding: 16px;
}

#null{
	position: relative;
	border-radius: 80%;
	float: right;
	display: none;
}

#triangle{
	width: 90%;
	height: 40%;
}

#paper, #scissors{
	position: relative;
	top: 80px;
}
#paper{
	background-color: hsl(230, 89%, 62%) ;
	float: left;
}
#scissors{
	background-color: hsl(39, 89%, 49%) ;
	float: right;
	top: 85px;
}
#rock{
	background-color: hsl(349, 71%, 52%) ;
	
	content: "";
	clear: both;
	display: table;
	
	position: relative;
	top: -115px;
	
}

/** Style dos Rules **/
body {
  font-family: 'Lato', sans-serif;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:  hsl(0, 0%, 75%);
  background-color: hsla(0, 0%, 100%, 1);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  bottom: 0;
  
  left: 45%;
  font-size: 60px;
  
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

h4{	
	position: relative;
	top: -100px;
	color: hsl(229, 25%, 31%);
}

#rules{
	
	position: relative;
	top: -30px;
}

/** Fonts All **/
* {
	font-family: 'Orbitron', sans-serif;
}

/** Style Bonus **/

/**Style Menu e Button **/
body, btnB{
	background: hsl(214, 47%, 23%);
}

.menu_bonus, btnB{
	padding: 0.3em;
	
	border: solid;
	border-color: hsl(0, 0%, 75%);
	border-radius: 5px;
	
	position: relative;
	top: 20px;
}
btnB{	
	position: relative;
	top: 50px;
	left: 30%;
	
	cursor:pointer
	font-size: 1em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 5px;
	border-color: hsl(0, 0%, 100%);
	color: hsl(0, 0%, 100%);
	
	padding: 8px 35px;
	
}
.menu_bonus p{
	float: right;
	background-color: hsl(0, 0%, 75%);
	border-radius: 7px;
	padding: 20px;
	font-size: 1em;
	
	
	position: relative;
	right: 8px;
	top: -10px;
	
	color: hsl(229, 64%, 46%);
}
.menu_bonus p span{
	
	position: relative;
	left: 20px;
	color: hsl(229, 25%, 31%);
}
/** Style Memsage Play One and Play Two **/
.msg_bonus{	
	display: none;
}
#play1_bonus h4, #play2_bonus h4{	
	color: hsl(0, 0%, 100%);
	position: relative;
	
	top: -300px;
}
#play1_bonus{
	position: relative;
	left: 10px;
}
#play2_bonus{
	float: right;
	position: relative;
	
	top: -60px;
}

/** Style Again **/
#replay_bonus{display: none;}
#replay_bonus h3{
	color: hsl(0, 0%, 100%);
	
	content: "";
	clear: both;
	display: table;
	
	
}
#replay_bonus button{
	
	background-color: hsl(0, 0%, 100%);
	border-radius: 5px;
	border-color: hsl(0, 0%, 100%);
	color: hsl(217, 16%, 45%);
	padding: 15px 80px;
	
}

/** Style Images **/
.conteiner_bonus{
	width: 90%;
	height: 98%;
	
	
	position: relative;
	top: -20px;
}
.conteiner_bonus, #pentagon{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img_bonus{
	background-color: hsl(0, 0%, 100%) ;
	border-style: solid ;
	border-color: hsl(0, 0%, 100%);
}

.img_bonus, #paperB, #scissorsB, 
#rockB, #spock, #lizard{	
	border-radius: 80%;
	padding: 6px;
}

#nullB{
	position: relative;
	border-radius: 80%;
	float: right;
	display: none;
}

#pentagon{
	width: 90%;
	height: 40%;
	
}

#paperB, #scissorsB{
	position: relative;
	top: 60px;
}

#spock{
	background-color: hsl(189, 59%, 53%);
	position: relative;
	top: -190px;
	float: left;
}
#paperB{
	background-color: hsl(230, 89%, 62%) ;
	float: right;
	top: 130px;
	right: -5px;
}
#scissorsB{
	background-color: hsl(39, 89%, 49%) ;
	float: right;
	top: 40px;
	left: -35px;
}
#lizard{
	background-color: hsl(261, 73%, 60%);
	position: relative;
	top: -60px;
	float: left;
	right: 50px;
	
}
#rockB{
	background-color: hsl(349, 71%, 52%) ;
	
	content: "";
	clear: both;
	display: table;
	
	position: relative;
	top: -140px;
	left: 200px;
	
}

/** Style dos Rules **/
body {
  font-family: 'Lato', sans-serif;
}

.overlay_bonus {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:  hsl(0, 0%, 75%);
  background-color: hsla(0, 0%, 100%, 1);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content_bonus {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay_bonus a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

.overlay_bonus a:hover, .overlay_bonus a:focus {
  color: #f1f1f1;
}

.overlay_bonus .closebtn_bonus {
  position: absolute;
  bottom: 0;
  
  left: 45%;
  font-size: 60px;
  
}

@media screen and (max-height: 450px) {
  .overlay_bonus a {font-size: 20px}
  .overlay_bonus .closebtn_bonus {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

h4{	
	position: relative;
	top: -160px;
	color: hsl(229, 25%, 31%);
}

#rules_bonus{
	
	position: relative;
	top: -90px;
}

